/*
 * Empty Stylesheet file.
 */

.mainFxmlClass {
   
}
.LoginPane{
    -fx-border-radius: 20 20 20 20;
    -fx-background-radius: 10 10 10 10;
    -fx-effect: dropshadow(three-pass-box, rgba(0,0,0,0.8), 10, 0, 0, 0);
  
    -fx-background-color: rgba(193, 193, 193, 0.5); 
}
.LoginButton{
    -fx-background-color: #B6C649;
    -fx-border-radius: 20 20 20 20;
    -fx-background-radius: 10 10 10 10;
    -fx-effect: dropshadow(two-pass-box, rgba(0,0,0,0.8), 5, 0, 0, 0);
}
.ScaleEffect:hover{
    -fx-background-color: #C1C1C1;
    -fx-scale-y: 1.1;
}
.ScaleEffect:pressed{
    -fx-scale-y: 0.9;
    -fx-scale-x: 0.9;
}